body {
    background-color: orange;
  }

.heading {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 520px 50px 520px;
}

.grid-container > div {
  padding: 10px;
}