body {
    background-color: orange;
  }

.heading {
  text-align: center;
}

#drop-down-box-grid {
  display: grid;
  grid-template-columns: 80px 720px 720px;
}

#drop-down-box-grid > div {
  padding: 10px;
}

#user-input-grid {
  display: grid;
  grid-template-columns: 80px 520px 200px 520px;
}

#user-input-grid > div {
  padding: 10px;
}

#user-input-grid > #translate-button-div {
  padding-top: 140px;
  padding-bottom: 140px;
  padding-left: 65px;
  padding-right: 65px;
}