<!DOCTYPE html>
<head>
  <html lang="en"></html>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="static/index.css"/>
  <script src="static/index.js"></script>
  <title>translator</title>
</head>
<body>

  <div class="heading">
    <br>
    <h1>Translator</h1>
    <br><br>
  </div>

  <div class="grid-container">
    <!-- Add language input box on left, output box on right, combo boxes above -->
    <div>
      <input type="text" style="width:500px; height:300px;">
    </div>
    <div>
      <!-- translate button goes here -->
      cell
    </div>
    <div>
      <input type="text" style="width:500px; height:300px;">
    </div>
  </div>

</body>
</html>