<!DOCTYPE html>
<head>
  <html lang="en"></html>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="static/index.css"/>
  <script defer src="static/index.js"></script>
  <title>translator</title>
</head>
<body>

  <div class="heading">
    <br>
    <h1>Translator</h1>
    <br><br>
  </div>

  <div id="drop-down-box-grid">
    <div></div>
    <div>
      <select name="input_lang" id="input-lang-box">
        <option value="English">English</option>
        <option value="French">French</option>
        <option value="Turkish">Turkish</option>
        <option value="German">German</option>
        <option value="Spanish">Spanish</option>
        <option value="Italian">Italian</option>
        <option value="Chinese (Simplified)">Chinese (Simplified)</option>
        <option value="Chinese (Traditional)">Chinese (Traditional)</option>
        <option value="Korean">Korean</option>
        <option value="Japanese">Japanese</option>
        <option value="Russian">Russian</option>
        <option value="Arabic">Arabic</option>
      </select>
    </div>
    <div>
      <select name="output_lang" id="output-lang-box">
        <option value="English">English</option>
        <option value="French">French</option>
        <option value="Turkish">Turkish</option>
        <option value="German">German</option>
        <option value="Spanish">Spanish</option>
        <option value="Italian">Italian</option>
        <option value="Chinese (Simplified)">Chinese (Simplified)</option>
        <option value="Chinese (Traditional)">Chinese (Traditional)</option>
        <option value="Korean">Korean</option>
        <option value="Japanese">Japanese</option>
        <option value="Russian">Russian</option>
        <option value="Arabic">Arabic</option>
      </select>
    </div>
  </div>

  <div id="user-input-grid">
    <div></div>
    <div>
      <input id="src_lang_input" type="text" style="width:500px; height:300px;">
    </div>
    <div id="translate-button-div">
      <button id="translate-button" type="button" onclick="translate()">Translate</button>
    </div>
    <div>
      <input id='dest_lang_output' type="text" readonly style="width:500px; height:300px;">
    </div>
  </div>

</body>
</html>