<!DOCTYPE html>
<head>
  <html lang="en"></html>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="static/index.css"/>
  <script src="static/index.js"></script>
  <title>translator</title>
</head>
<body>

  <div class="heading">
    <br>
    <h1>Translator</h1>
    <br><br>
  </div>

  <div id="drop-down-box-grid">
    <div></div>
    <div>
      <select name="input_lang" id="input-lang-box">
        <option value="English">English</option>
        <option value="French">French</option>
        <option value="Turkish">Turkish</option>
      </select>
    </div>
    <div>
      <select name="output_lang" id="output-lang-box">
        <option value="English">English</option>
        <option value="French">French</option>
        <option value="Turkish">Turkish</option>
      </select>
    </div>
  </div>

  <div id="user-input-grid">
    <!-- Add language input box on left, output box on right, combo boxes above -->
    <div></div>
    <div>
      <input id="src_lang_input" type="text" style="width:500px; height:300px;">
    </div>
    <div id="translate-button-div">
      <button id="translate-button" type="button" onclick="translate()">Translate</button>
    </div>
    <div>
      <input type="text" style="width:500px; height:300px;">
    </div>
  </div>

</body>
</html>